<!DOCTYPE html>
<html>
    <head>
        <title>Home page</title>
    </head>
    <style>
        h4{
            color:white;
            text-align:left;
        }
        .main{
            background-color: chocolate;
            color:white;
            }

            img{
                width: 200px;
                height:300px;
            }

    </style>
    <body class="main" action="body" method="POST">
        <h3 class="h4">Hi, Everyone</h3>
        <pre class="h4"><img src="IMG_2958.PNG" width="200" height="100">
            I'm {{user.username}}
            A  Backend Web-Developer using Python  and also a freelancer
            I have developed a lot of website, you can check my files for my previous and current project.
            Contact me through contact for more enquiries.

        </pre>

    </body>
</html>
